html{box-sizing:border-box;},*:before,*:after{box-sizing:inherit;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;}progress{vertical-align:baseline;}

body{font-family:Helvetica, Arial, sans-serif, '나눔고딕';text-align:center;}
h1{text-align : center; font-family: 'Open Sans';}
ul, ol{list-style-type:none; margin:0; padding:0;}
li{color : white;}
a{text-decoration:none;color:white; !important}
#contentlist p{color : black;}
.pnt { cursor: pointer; }
textarea{resize:none;}

/*화면가운데 위치하는 가로 메뉴text-aling:center;로 inline 속성을 갖게 된 li를 중앙 정렬하되 중요한 것은, li에다 display:inline;을 주고 a에는 display:inline-block;을 지정해 주는 것.*/










/*네비게이션*/
.navbar{
position:fixed;
margin:0; 
top:0;
width:100%;
background-color:#262523;
opacity:0.9;  
text-align:center;
font-size:15px;
font-weight:bold;
z-index:200;	
 }

.navbutton{
margin: 24px 20px 24px 20px; 
padding:0px; 
display: block; 
color : white;
text-align:center;
width:130px;}
/*글씨색 변경*/
.navbar li
{
font: :'Open Sans', Verdana, Helvetica, sans-serif;
display:inline-block;
}

 /* 평상시에는 서브메뉴가 안보이게 하기 
ul은 서브메뉴의 ul. 서브메뉴의 ul 스타일 */
.navbar li ul {
margin: 22px 20px 22px 20px; 
position:fixed; 
display:none;
height:auto; 
margin:0px; 
border:0px; 
width:130px;
z-index:200;}

.navbar li ul a{
background: gray;
line-height:50px;
height:50px;
width:120px;
text-align:center;
display:block;
float:none;
margin:0px;
padding:0px;
}

/*메인메뉴에 마우스 올리면 보이는 효과*/
.navbar li:hover .mainmenu{
  transition:all .5s ease;/*지연효과*/
  color:#04dbc9;
}
 /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
.navbar li:hover ul {
display:block;  
}
 /* 서브메뉴에 마우스를 올리면 보이는 효과*/
.navbar ul li:hover a{
background-color:#262523;
color:#04dbc9;
}














/*main 메뉴*/
#main-pic{width:100%;height:640px; overflow:hidden;}
.main-title{position:absolute; color:#302e2e; top:40%;left:50%;transform:translate(-50%,-50%);text-align:right;font-size: 50pt; font-weight:bold;}
.main-title:hover {color : #dddddd;  transition:all .6s ease;}

.changeImgBtn{
border-radius: 50%;
width:10px; height:10px;
background-color:#262523;
display:inline-block;
margin: 4px; margin-top:15px;
}

.changeImgBtn:hover{background-color:#04dbc9; transition:all .3s ease;}


/*about 메뉴*/
.title{margin-top:140px; margin-bottom:85px;}
.keyword{color:gray;font-weight:bold;}
.keyword:hover{color:#04dbc9;}
#introduce{line-height:20pt;}
#ilike {margin-top:60px;line-height:20pt;}
#goodat {margin-top:60px;line-height:20pt;}

.keyli{text-align:left;font-weight:bold;color:#343a40;margin-left:10px;}
.iGraph{ white-space:nowrap; line-height:normal;margin:10px;}
.iGraph .gBar{ display:inline-block; width:260px; height:25px; 
margin:0 0 0 0; border:1px solid #ccc; background:#e9e9e9; font-size:11px;}
.iGraph .gAction{ display:inline-block; align:left;line-height:20pt;height:25px;
 border:1px solid #8c9bac; background:#504E48; margin:-1px;}
.iGraph .gPercent{ font:16px Arial, Helvetica, sans-serif; color:#ccc;}
.iGraph .gPercent strong{ font-size:18px;}
.gPercent{margin-left:100px;}
.show { visibility: hidden; }
.show.shown { visibility: visible; }




/*illustration 메뉴*/
.illustration_content li
{
height:275px;
width:275px;
overflow:hidden;
line-height:275px;
text-align:center;
display:inline-block;
}

.illustration_content .illustrationimage{
cursor: pointer;
height:100%; 	
min-height:300px;
min-width:275px;
vertical-align:middle;
display:inline;
}

.illustrationimage:hover{opacity:0.4;}
.illustration_content li:hover {
background-color:#04dbc9;
z-index:300;}







/*music 메뉴*/
.thumbnail{width:220px; height:auto;opacity:0.9;}
.sub_content{border-collapse:collapse;}
.sub_content figure{ margin:20px; padding:0px;}
.sub_content figure:hover {opacity:0.7;}

#contentlist {height:350px;overflow-x:hidden; overflow-y:scroll;}

#music_content p{
font-family: Helvetica, sans-serif;
}


#commentbox{
width:950px;
height:180px;
display:inline-block;
align:center;
margin-top:40px;}
#comment_text{width:80%;height:55px;border:1px solid black; margin:20px 0px 0px 20px; resize:none;border-color:gray;}
#comment_button{float:right;width:100px;height:50px;margin:20px 30px 30px 20px;background-color:gray;color:white;border-radius: 4px;font-family:Helvetica;font-size:12pt; text-decoration: none;border: none;}

#comment_button:hover
{
background-color:#262523;
color:#04dbc9;  
transition:all .2s ease;
}





















/*food 메뉴*/

#food_list2, #food_list3 {display :none;}

.food_content li
{
height:275px;
width:275px;
overflow:hidden;
line-height:275px;
text-align:center;
display:inline-block;
}

.food_content .foodimage{
cursor: pointer;
height:100%; 	
min-height:335px;
min-width:275px;
vertical-align:middle;
display:inline;
}

.foodimage:hover{opacity:0.4;}
.food_content li:hover {
background-color:#04dbc9;
z-index:300;}

#pop{
width:100%; height:100%; background:rgba(0,0,0,0.9);
top:0; position:fixed; 
text-align:center; 
z-index:300; 
visibility:hidden;
}

#closebutton
{width:35px;position:fixed;
top:30px;right:30px;}

#closebutton:hover {opacity:0.7;}

.food_content button {
border:0;
outline:0;
background-color: transparent;
}

.morebutton
{margin-top:30px;}
.morebutton:hover { 
opacity:0.7;}















/*contact 메뉴*/

#contact_info {width: 600px;}

#contact_info label {
    /* To make sure that all label have the same size and are properly align */
font-family :  Helvetica, sans-serif 'Open Sans';
font-size: 13pt;
display: inline-block;
width:80px;
text-align: left;
margin-bottom:10px;

}

/*라벨크기 세부설정*/
#contact #name,#tel,#mail{width: 200px;}
#contact #job{width: 100px; height:17pt;margin-right:190px;margin-left:20px;}
#contact #msg{width:590px;}

#contact_info input, textarea, option{
font :sans-serif;
font-size:12pt;
line-height:12pt;
 /* To give the same size to all text field */
box-sizing: border-box;
padding:0;
margin:0;
}

#contact_info textarea{
width: 590px;
height: 140px;
}

#contact_info div{
margin:10px 0px 10px 0px;
}

#contact #infoagree{
width:550px;
margin: 5px 0px 35px 0px;
text-align:right;
}

#contact button
{/*버튼 배경색과 테두리제거*/
border:0;
outline:0;
margin-left :5px;
margin-right:5px;
align:center;
background-color: transparent;
}



#topbutton
{
width:40px;
position:fixed;
bottom:30px;
right:30px;
}
#topbutton:hover
{opacity:0.7;}


footer{
margin-top: 150px;
padding-top:64px;
padding-bottom:64px;
background-color:#e0e0e0;
width:auto;
font-size: 10pt;
}
.sns{display:block-inline; margin: 0px 2px 0px 2px;}
.sns:hover{opacity:0.5;}
#kakao{opacity:0.6;}
#kakao:hover{opacity:0.4;}